.navbar .login {
    background: rgb(248, 171, 5);
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    line-height: 2.3;
  }
  .navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
  }
  .navbar-light .navbar-brand span {
    color: rgb(235, 118, 0);
  }
  .logo {
    height: 48px;
    padding: 2px 10px;
  }
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover {
    color: #000;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
  }
  .w-100 {
    height: 100vh;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Old Standard TT", serif;
  }
  .container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: 30vw;
    grid-template-rows: repeat(3, 10vh) 5vh repeat(2, 10vh);
    grid-gap: 10px;
  }
  body {
    background: black;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  .submit-btn {
    background-color: turquoise;
  }
  .bmi-value {
    background-color: yellow;
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .status {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .container > div {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
  }
  button,
  input {
    min-width: 100%;
    min-height: 100%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-radius: 8px;
  }
  input {
    background: #ffdd99;
    text-indent: 0.5em;
    max-width: 100%;
    color: black;
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  button {
    background: tomato;
    cursor: pointer;
  }
  button:hover {
    background: #c70039;
    color: white;
  }